
body {
  background-color: rgb(139, 154, 192);
  margin: 0;
}

.navhome {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0.5rem;
  position: fixed;
  top: 0;
  width: 100%;
  background-color: inherit;
  z-index: 10;
}

.contenedorlogo {
  display: flex;
  justify-content: center;
  flex: 1;
}

.logo {
  height: 3rem;
  width: auto;
}

.lista {
  display: flex;
  list-style: none;
  gap: 1rem;
  justify-content: flex-end;
  flex: 1;
  margin: 0;
  padding-right: 1rem;
}

li {
  font-size: medium;
}

li a {
  display: inline-block;
  padding: 0.2rem 0.5rem;
  color: #15004e;
  text-decoration: none;
  border-radius: 5px;
  transition: background-color 0.3s;
}

li a:hover {
  background-color: #357ABD;
}
