body{
  background-color: rgb(139, 154, 192);
  margin: 0;
  font-size: 0;
  left: 0;
  right: 0;
  top: 0;
  width: 100%;
  height: 10%;
  position: fixed;
  z-index: 10;

}

nav{

  display: flex;
  padding: 1rem 0;

}
.contenendorlogo{
  flex: 1;


}
.logo {
  height: 30px;

}

ul{
  gap: 1rem;
  display: flex;  /*Se pone en el padre*/
  list-style: none;
  justify-content: flex-end;
  flex: 1;
  padding-right: 1rem;

}

li{
  font-size: medium;
}

li a {
  display: inline-block;
  padding: 0.2rem 0.5rem;
  color: #15004e;
  text-decoration: none;
  border-radius: 5px;
  transition: background-color 0.3s;
}

li a:hover {
  background-color: #357ABD;
}
