<section class="form-container">
  <fieldset>
    <form [formGroup]="formularioUsuarioProfesional" (ngSubmit)="agregarUsuarioProfesional()">

      <label for="ciudad">Ciudad*</label>
      <input type="text" id="ciudad" class="input" formControlName="ciudad">
      @if (formularioUsuarioProfesional.controls["ciudad"].touched && formularioUsuarioProfesional.controls["ciudad"].getError("required")){
        <div class="error">Campo obligatorio</div>
      }
      @if(formularioUsuarioProfesional.controls['ciudad'].touched && formularioUsuarioProfesional.controls['ciudad'].hasError('whitespace')){
        <div class="error">No se aceptan cadenas vacias</div>
      }


      <label for="provincia">Provincia*</label>
      <input type="text" id="provincia" class="input" formControlName="provincia">
      @if (formularioUsuarioProfesional.controls["provincia"].touched && formularioUsuarioProfesional.controls["provincia"].getError("required")){
        <div class="error">Campo obligatorio</div>
      }
      @if(formularioUsuarioProfesional.controls['provincia'].touched && formularioUsuarioProfesional.controls['provincia'].hasError('whitespace')){
        <div class="error">No se aceptan cadenas vacias</div>
      }

      <label for="pais">País*</label>
      <input type="text" id="pais" class="input" formControlName="pais">
      @if (formularioUsuarioProfesional.controls["pais"].touched && formularioUsuarioProfesional.controls["pais"].getError("required")){
        <div class="error">Campo obligatorio</div>
      }
      @if(formularioUsuarioProfesional.controls['pais'].touched && formularioUsuarioProfesional.controls['pais'].hasError('whitespace')){
        <div class="error">No se aceptan cadenas vacias</div>
      }

      <label for="nombreCompleto">Ingrese su nombre completo*</label>
      <input type="text" id="nombreCompleto" class="input" formControlName="nombreCompleto">
      @if (formularioUsuarioProfesional.controls['nombreCompleto'].touched && formularioUsuarioProfesional.controls['nombreCompleto'].getError("required")){
        <div class="error">Campo obligatorio</div>
      }
      @if(formularioUsuarioProfesional.controls['nombreCompleto'].touched && formularioUsuarioProfesional.controls['nombreCompleto'].hasError('whitespace')){
        <div class="error">No se aceptan cadenas vacias</div>
      }

      <label for="profesion">Ingrese su profesión*</label>
      <input type="text" id="profesion" class="input" formControlName="profesion">
      @if (formularioUsuarioProfesional.controls["profesion"].touched && formularioUsuarioProfesional.controls["profesion"].getError("required")){
        <div class="error">Campo obligatorio</div>
      }
      @if(formularioUsuarioProfesional.controls['profesion'].touched && formularioUsuarioProfesional.controls['profesion'].hasError('whitespace')){
        <div class="error">No se aceptan cadenas vacias</div>
      }

      <label for="descripcion">Descripción*</label>
      <textarea id="descripcion" class="input textarea" formControlName="descripcion" rows="5"></textarea>
      @if (formularioUsuarioProfesional.controls['descripcion'].touched && formularioUsuarioProfesional.controls['descripcion'].hasError('required')) {
        <div class="error">Campo obligatorio</div>
      }
      @if (formularioUsuarioProfesional.controls['descripcion'].touched && formularioUsuarioProfesional.controls['descripcion'].hasError('maxlength')) {
        <div class="error">La descripción no puede exceder los 220 caracteres</div>
      }
      @if(formularioUsuarioProfesional.controls['descripcion'].touched && formularioUsuarioProfesional.controls['descripcion'].hasError('whitespace')){

        <div class="error">No se aceptan cadenas vacias</div>

      }


      <label for="Cor">Correo electrónico*</label>
      <input type="text" id="Cor" class="input" formControlName="email">
      @if (formularioUsuarioProfesional.controls["email"].touched && formularioUsuarioProfesional.controls["email"].getError("required")){
        <div class="error">Campo obligatorio</div>
      }
      @if (formularioUsuarioProfesional.controls["email"].touched && formularioUsuarioProfesional.controls["email"].getError("email")){
        <div class="error">No posee el formato de maol</div>
      }
      @if(formularioUsuarioProfesional.controls['email'].touched && formularioUsuarioProfesional.controls['email'].hasError('whitespace')){
        <div class="error">No se aceptan cadenas vacias</div>
      }



      <label for="foto" class="form-control-label">
        <img [src]="imgSrc" alt="Foto actual" />
        <div>Subir foto</div>
      </label>
      <input type="file" class="form-control" id="foto" (change)="manejoDeArchivo($event)" accept="image/*">



      <label for="Cont">Contraseña*</label>
      <input type="password" id="Cont" class="input" formControlName="contrasenia">
      @if (formularioUsuarioProfesional.controls["contrasenia"].touched && formularioUsuarioProfesional.controls["contrasenia"].getError("required")){
        <div class="error">Campo obligatorio</div>
      }
      @if(formularioUsuarioProfesional.controls["contrasenia"].hasError("pattern")){
        <div class="error">
          La contraseña debe tener por lo menos una mayúscula, una minúscula, un número, un carácter especial y un tamaño entre 8 y 16 caracteres.
        </div>
      }

      <div class="btn-group">
        <button type="submit" class="btn-registrar">📤 Registrarse</button>
        <button type="button" class="btn-cancelar" (click)="cancelar()">❌ Cancelar</button>
      </div>

    </form>
  </fieldset>
</section>
