<div class="comentarios-container">
  <h2>Comentarios</h2>
  <div class="comentario-list">

  @if (comentarios.length === 0) {
    <p class="no-publicaciones">No hay comentarios para mostrar.</p>
  } @else {
    @for (comentario of comentarios; track $index) {
      <div class="comentario-card" [class.reported]="comentario.reportado">
        <div class="comentario-header">
            <img
              [src]="imgPerfCreadores[comentario.fotoCreador]"
              alt="Foto de {{ comentario.nombreCreador }}"
              class="avatar"
              loading="lazy"
            />

          <div class="creador-info">
            <span class="nombre-creador">{{ comentario.nombreCreador }}</span>
            <span class="puntaje">Puntaje: {{ comentario.puntaje }}/5</span>
          </div>
        </div>
        <div class="comentario-content">
          <p>{{ comentario.contenido }}</p>
        </div>
        <div class="comentario-actions">
          @if (!comentario.reportado) {
            <button
              (click)="reportarComentario(comentario.id)"
              class="report-button"
            >
              Reportar
            </button>
          } @else {
            <span class="reported-label">Comentario Reportado</span>
          }
        </div>
      </div>
    }
  }
  </div>
</div>
