<section class="publicaciones-container">

  @if (publicacionesUsuario.length === 0) {
    <p class="no-publicaciones">No hay publicaciones para mostrar.</p>
  } @else {
    @for (publicacion of publicacionesUsuario; track $index) {
      <article class="publicacion-card" [class.reported]="publicacion.reportada">
        <div class="publicacion-header">
          <div class="creador-info">
            <img
              [src]="imagenPerfil"
              alt="Foto de {{ usuarioProfesional.nombreCompleto }}"
              class="avatar"
              loading="lazy"
            />

            <div class="creador-info">
              <span class="nombre-creador">{{ usuarioProfesional.nombreCompleto }}</span>
            </div>

          </div>

        </div>

        <div class="publicacion-content">
          <p>{{ publicacion.cont }}</p>
          @if (publicacion.urlFoto && imagenPublicacion[publicacion.urlFoto]) {
            <div class="publicacion-imagen">
              <img
                [src]="imagenPublicacion[publicacion.urlFoto]"
                alt="Imagen de la publicación"
                loading="lazy"
              />
            </div>
          }
        </div>
      </article>
    }
  }
</section>
