<body>
  <nav>
    <div class="contenendorlogo">
      <img src="logorecortado.png" alt="ConectaFreelance" class="logo">
    </div>

    <a>lista profesionales</a>

    <!-- FALTA NOTIFICACION -->
    <!-- FALTA CHAT -->
    <a [routerLink]="['/perfilProfesional']">Perfil</a>


    <div>
      <img>
       <a class="nav-link">Opciones</a>
       <ul class="dropdown-menu">
        <li><a class="dropdown-item" routerLink="/option1">Cerrar Sesión</a></li>
        <li><a class="dropdown-item" routerLink="/option2">Modificar Cuenta</a></li>
        <li><a class="dropdown-item" routerLink="/option3">Eliminar Cuenta</a></li>
      </ul>
    </div>
  </nav>
</body>
