<section class="add-comentario-container">
  <form [formGroup]="formMensaje" (ngSubmit)="mandarMensaje()" class="comentario-form">
    <div class="form-group">

      <label for="contenido">Mandar un mensaje</label>
      <textarea
        id="contenido"
        maxlength="500"
        (input)="autoResize($event)"
        formControlName="contenido"
        placeholder="Escribe tu comentario aquí..."
      ></textarea>

    </div>

    <div class="form-actions">
      <button type="submit" class="submit-button" [disabled]="formMensaje.invalid">Enviar Mensaje</button>
    </div>
  </form>
</section>
