<div class="comentarios-container">
  <h2>Comentarios para el Profesional</h2>

  <div class="comentario-list">
    @if (comentarios.length === 0) {
      <p class="no-publicaciones">No hay comentarios para mostrar.</p>
    } @else {
      @for (comentario of comentarios; track $index) {
        <div class="comentario-card">
          <div class="comentario-header">
            <img
              [src]="getImagenPerfil(comentario.idCreador)"
              [alt]="'Foto de ' + (getUsuarioById(comentario.idCreador)?.nombreCompleto || 'Usuario')"
              class="avatar"
              loading="lazy"
            />
            <div class="creador-info">
              <span class="nombre-creador">
                {{ getUsuarioById(comentario.idCreador)?.nombreCompleto || 'Anónimo' }}
              </span>
              <span class="puntaje">Puntaje: {{ comentario.puntaje }}/5</span>
            </div>
          </div>

          <div class="comentario-content">
            <p>{{ comentario.contenido }}</p>
            @if (comentario.reportada) {
              <small class="text-warning">
                <em>Este comentario fue reportado.</em>
              </small>
            }
          </div>

          @if (usuAdm.permisos === 'c' || usuAdm.permisos === 'cp') {
            <div class="eliminar-form">
              <label for="motivo-{{ comentario.id }}">
                Escriba el motivo de la eliminación
              </label>
              <input
                type="text"
                id="motivo-{{ comentario.id }}"
                [formControl]="motivoControls[comentario.id!]"
                placeholder="Ej: Contenido ofensivo, spam..."
                class="motivo-input"
              />
              @if (motivoControls[comentario.id!].touched && motivoControls[comentario.id!].invalid) {
                <small class="error-text">
                  @if (motivoControls[comentario.id!].errors?.['required']) {
                    El motivo es obligatorio.
                  } @else if (motivoControls[comentario.id!].errors?.['minlength']) {
                    Mínimo 50 caracteres.
                  } @else if (motivoControls[comentario.id!].errors?.['maxlength']) {
                    Máximo 200 caracteres.
                  }
                </small>
              }

              <div class="comentario-actions">
                <button
                  (click)="eliminar(comentario.id)"
                  [disabled]="motivoControls[comentario.id!].invalid"
                  class="delete-button"
                >
                  Eliminar
                </button>

                @if(comentario.reportada){
                  <button
                    class="approve-button"
                    (click)="aprobar(comentario)"
                  >
                    Aprobar
                  </button>
                }


              </div>
            </div>
          }
        </div>
      }
    }
  </div>
</div>
